.example-card {
    max-width: 400px;
  }

.content-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto 20px;
}

.page{
    margin: auto 10px;
}