.example-card {
    max-width: 400px;
  }

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto 20px;
}

.content-link {
  font-style: italic;
  font-size: small;
  margin-left: 10px;
  color: grey;
}